a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    padding: 1px 6px 1px 6px;
    cursor: pointer;
}

a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

.card-link {
  background-color: #414a4f;
  color: white;
}

.card-body {
  padding: 15px;
}

.card {
  border: solid 1px #414a4f;
}
