a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    padding: 1px 6px 1px 6px;
    cursor: pointer;
}

#rsvp-button, #rsvp-button:hover, #rsvp-button:visited, #rsvp-button:link, #rsvp-button:focus, #rsvp-button:active {
  color: white;
  text-decoration: none;
  background-color: #414a4f;
}

.card-body {
  padding: 15px;
}

.card {
  border: solid 1px #414a4f;
}
