<footer>
  <div class="footer-icon-container">
    <!--li><a href="#"><i class="fa fa-twitter-square" target="_blank"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square" target="_blank"></i></a></li-->
    <div class="footer-icon"><a href="https://www.meetup.com/codeclub" target="_blank"><i class="fa fa-meetup"></i></a></div>
    <div class="footer-icon"><a href="https://github.com/codeclubsocial" target="_blank"><i class="fa fa-github-square"></i></a></div>
  </div>

  <p>
    &copy;
    <script>
      new Date().getFullYear()>2010&&document.write(new Date().getFullYear());
    </script>
    CodeClub | Learn to code, make friends, build cool stuff<br>Berkeley, CA
  </p>
</footer>

<% include ./js-scripts/main-scripts %>

</body>
</html>
