<div id="footer-special-container">
  <footer>
    <% include ./footer-content %>
  </footer>
</div>

<script type="text/javascript" src="/libs/jquery.js"></script>
<script type="text/javascript" src="/libs/bootstrap.min.js"></script>

</body>
</html>
