<footer>
  <ul>
    <!--li><a href="#"><i class="fa fa-twitter-square" target="_blank"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square" target="_blank"></i></a></li-->
    <li><a href="https://www.meetup.com/codeclub" target="_blank"><i class="fa fa-meetup"></i></a></li>
    <li><a href="https://github.com/codeclubsocial" target="_blank"><i class="fa fa-github-square"></i></a></li>
  </ul>

  <p>&copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> CodeClub | Learn to code, make friends, build cool stuff<br>Berkeley, CA</p>
</footer>
</div>

<script type="text/javascript">
  function toggleDisplay(){
    var chatDiv = document.getElementById('chatApp');
    var bodyDiv = document.getElementById('bodyContents');
    var chatLink = document.getElementById('chatButton');

    if (chatDiv.style.display === 'none'){
      chatDiv.style.display="block";
      bodyDiv.style.display="none";
      document.body.style.marginTop="3.5rem";
      document.body.style.backgroundColor="#04436a";
      //chatLink.style.color="#02ACEC";
    }
    else {
      chatDiv.style.display="none";
      bodyDiv.style.display="block";
      document.body.style.marginTop="5rem";
      document.body.style.backgroundColor="";
      //chatLink.style.color="";
    }
  };
</script>

<script type="text/javascript" src="/libs/jquery.js"></script>
<script type="text/javascript" src="/libs/bootstrap.min.js"></script>

</body>
</html>
