<nav class="navbar navbar-toggleable-md navbar-static-top bg-faded navbar-border">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="/">CodeClub | Learn to code, make friends, build cool stuff</a>
<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        About Us
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">What is CodeClub?</a>
        <a class="dropdown-item" href="#">Membership</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Contact Us</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/msgs">Message Board</a>
    </li>
    <!--li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li-->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Resources
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="https://codeclubsocial.github.io" target="_blank">Getting Started Guide</a>
        <a class="dropdown-item" href="https://www.meetup.com/codeclub/" target="_blank">Meetup page</a>
        <a class="dropdown-item" href="https://github.com/codeclubsocial/" target="_blank">Github Repositories</a>
        <a class="dropdown-item" href="#">Tutorials</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sign up &nbsp;|&nbsp; Login</a>
    </li>
  </ul>
</div>
</nav>

<div class="div-spacer"></div>
