<% include ./partials/header %>

<div class="container">
  <div style="margin: 2rem 0;">
    <h1>About Us</h1>
  </div>
  <div id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom: 2rem;">
  <div class="card">
    <div class="card-header bluehover" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="mb-0" style="text-decoration: none;">
        <a style="text-decoration: none;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is CodeClub?
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        CodeClub is devoted to helping anyone and everyone learn computer
        programming and/or become highly skilled coders. Focused on adult learners,
        CodeClub will provide a structured format and a social-outlet for motivated
        students who have chosen to learn how to code on their own. All ages and
        skill levels are welcome.
        <br>
        Our friendly and supportive atmosphere is perfect for people who know:
          <ol class="list-group" style="margin-top: 1rem;">
            <li class="list-group-item">absolutely nothing about computer programming.</li>
            <li class="list-group-item">a little, but could really use some help.</li>
            <li class="list-group-item">a lot and would love to team up with others to build cool stuff.</li>
            <li class="list-group-item">a little or a lot and love to teach others.</li>
          </ol>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bluehover" role="tab" id="headingTwo" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
      <h5 class="mb-0" style="text-decoration: none;">
        <a style="text-decoration: none;" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How Did It All Begin?
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        Hi, my name is Brian and I am not a professional programmer.
        Although, I have been learning to code on my own for quite some time.
        One day, it occurred to me that it would be a lot more fun if I could code
        with other people. Even if that meant teaching them what I know first.
        We could then all learn how to code together (really well) and maybe even
        build some cool stuff in the process.
        <br>
        If you already know how to code, don't worry, you will have fun too.
        The focus here isn't on skill level, but rather the social aspect of working
        together on something meaningful. I want to meet cool people who share a
        similar interest.
      </div>
    </div>
  </div>
</div>
</div>

<% include ./partials/footer %>
