<% include ./partials/header %>
<div class="container">
  <div class="card" style="border: none">
    <div class="card-block">
      <h3 class="card-title">How to contribute</h3>
      <p class="card-text">Make contributions to the website</p>
      <ol id="contribute-list">
        <li>Clone the codeclub_website_dev repository</li>
        <p>Using the command line, navigate to the location where you want to store your project directory and type <code>git clone https://github.com/codeclubsocial/codeclub_website_dev.git</code> in the command line. Now you have a local copy of all the working project files.</p>
        <li>Notify the group on the <a href="https://codeclub-chat.herokuapp.com/channel/DEV">dev chat</a> what you plan to contribute</li>
        <li>Create your own branch</li>
        <p>In the command line, type <code>git checkout -b [your-name]-[your-improvement]</code></p>
        <p>For example, if my name is Austin, and I plan to make a contribute page, I would type <code>git checkout -b austin-contribute-page</code></p>
        <li>Hack away to your heart's content</li>
        <li>Commit your edits</li>
        <p>Type <code>git add -A</code> and then <code>git commit -m "[message]"</code> to update the local git repository with your edits</p>
        <p>Type <code>git push origin [your-name]-[your-contribution]</code> to update your branch on github</p>
        <li>Merge dev repository into your branch</li>
        <p>Type <code>git merge dev</code> to merge the dev repository into your branch</p>
        <p>Resolve any conflicts and make sure that everything is running as expected</p>
        <p>Type <code>git push origin [your-name]-[your-contribution]</code> to update your branch on github</p>
        <li>Merge your branch into the dev repository</li>
        <p>Type <code>git checkout dev</code> and then <code>git merge [your-name]-[your-improvement]</code> to merge your branch to the dev repository</p>
        <p>Finally, type <code>git push origin dev</code> to push your edits to the dev branch</p>
      </ol>
    </div>
  </div>
</div>

<% include ./partials/footer %>
