<% include ./partials/header %>
<div class="container">
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-block">
	        <h3 class="card-title">Contact</h3>
	        <p class="card-text">You are always welcome to join our weekly meetups.</p>
					<hr>
					<div class="">
						<h6>85C Bakery Cafe</h6>
				<p>21 Shattuck Ave, Berkeley, CA 94704 <br>
					Time: 06:00 - 08:00 P.M
				</p>
					</div>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-block">
	        <h3 class="card-title">Directions</h3>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.501026555925!2d-122.27027198527776!3d37.87196407974192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857e9e60317c95%3A0xcfd5ee224fa07e15!2s85C+Bakery+Cafe+-+Berkeley!5e0!3m2!1sen!2sus!4v1503287525095" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe><br>
	<a href="https://www.google.com/maps/place/85C+Bakery+Cafe+-+Berkeley/@37.8719641,-122.270272,17z/data=!3m1!4b1!4m5!3m4!1s0x80857e9e60317c95:0xcfd5ee224fa07e15!8m2!3d37.8719641!4d-122.2680833" class="btn btn-success" target="_blank">Navigate</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<% include ./partials/footer %>
