<% include ./partials/header %>


<h1>Edit the Message</h1>

  <form action="/msgs/<%= msg._id %>?_method=PUT" method="POST">
        <div>
            <input type="text" name="msg[title]" placeholder="Post Title" value="<%= msg.title %>">
        </div>
  
          <div>
            <textarea name="msg[body]" rows="5" placeholder="Write your content here..."><%= msg.body %></textarea>
          </div>
          <button type="submit">Submit</button>
    </form>

<a href="/msgs">Back to main page!</a>





<% include ./partials/footer %>