<% include ./partials/header %>

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h1 style="margin: 1.5rem 0">You cannot access this page unless you are logged in.</h1>
    <h2 style="margin: 1.5rem 0">Try logging in (or signing up, then logging in) and you will be allowed access.</h2>
  </div>
</div>
</div>

<% include ./partials/footer %>
