<% include ./partials/header %>


	<div class="container" style="margin-top: 2rem;">
		<h1 style="display: inline;">Forum</h1>
			<a href="/forum/new" class="btn btn-primary" style="float: right; text-transform: capitalize; text-decoration: none;">New Post</a>
	</div>

<% msg.forEach(function(msg){ %> <!-- Start of content loop -->
<div class="container">
		<div class="forumPost" style="margin: 2rem 0;" id="cardblock">
			<div class="card" style="border-top-right-radius: 3rem; border-bottom-left-radius: 2rem;">
				<div class="card-block" style="background-color: rgba(0, 0, 0, 0.1); border-top-right-radius: 3rem; border-bottom-left-radius: 2rem;">
					<h4 class="card-title"><%= msg.title %></h4>
					<h6 class="badge badge-default"><%= msg.date.toDateString() %></h6>
					<p class="card-text"><%= msg.body %>... <a href="/forum/<%=msg._id%>" class="card-link" style="color: #2196F3;">Read More</a></p>
					<p style="float: right; color: grey; font-size: 15px;">
						<em>By: Author</em
					</p>
				</div>
			</div>
	</div>
</div>

<% }); %> <!-- End of content loop -->


<% include ./partials/footer %>
