<% include ./partials/header %>


<div class="body-container">
<<<<<<< HEAD
	<h1>Welcome to CodeClub!</h1>
	<p>&nbsp;</p>
	<p>Hello World!</p>
<%      if ( !req.isAuthenticated() ){  %>
	<p>You are not logged in, but still have access to lots of cool stuff.</p>
<%      } else {                        %>
	<p>You are logged in. You can access the entire CodeClub site!</p>
<%      } 				%>
	<p>&nbsp;</p>
=======
	<p style="font-style: italic; color: lightgray;">CodeClub has been meeting weekly since July, 13th 2017.</p>
	<br>
	<h3>Current Progress</h3>
	<br>
	<p>As of September 2017, we have made significant progress in developing our
		<a href="www.codeclub.social" target="_blank">website</a> -- although, we
		still have a lot more work to complete. Once the website has been mostly
		completed we will be moving on to other projects.</p>
>>>>>>> dev

	<p>New members and contributors are joining us all the time. Please visit at
		<a href="www.codeclub.social" target="_blank">www.codeclub.social</a> and
		sign up or reach out to us via the contacts page. We look forward to hearing
		from you!</p>

	<p>For more information about CodeClub, please see our <a href="/about">About</a> page.</p>
	<p>&nbsp;</p>

</div>


<% include ./partials/footer %>
