<% include ./partials/header %>

<h1>This is index page!</h1>


<% msg.forEach(function(msg){ %> <!-- Start of content loop -->


<div>
	<h3><%= msg.title %></h3>
	<p><%= msg.body %></p>
	<p><%= msg.author %></p> <!-- Should be fetched from the user info-->
	<p><%= msg.date.toDateString() %></p>
</div>
	




<% }); %> <!-- End of content loop -->

<a href="/msgs/new">Add a new message</a>




<% include ./partials/footer %>
