<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="col-9">
			<div class="body-container">
				<h1>Welcome to CodeClub!</h1>
				<br>
        <h3>Learn to code</h3>
        <p>
          Our purpose is to help people become better coders.  Our new members are sometimes
          novice coders with little to no experience. However, most newcomers have
          some experience and are able to jump right in and begin working on one
          of our projects.
        </p>
        <br>
        <h3>Make friends</h3>
        <p>
          Learning to code can be difficult, but it is a lot easier
          when you can count on a group of friends along the way. Our domain name
          is <code>www.CodeClub.social</code> for a reason. We put a lot of
          emphasis on the "social" aspect of CodeClub. Many people have try to
          learn programming on their own. Some succeed while others get
          discouraged and give up. Having a group of friends to assist, motivate
          and encourage you to continue is a HUGE advantage that solo-learners
          just don't have.

          Sometimes, in life, difference between success and failure is not giving up.
          Like-minded Friends who share your interests can be very helpful in
          keeping you motivated to continue. Plus, coding with friends a lot more fun!
        </p>
        <br>
        <h3>Build cool stuff</h3>
        <p>
          That's what we do, build cool stuff. Taking classes, watching videos
          and following tutorials are so gosh darn boring! We think so, which is why
          we prefer to learn by working with our friends on fun projects. Who knows,
          your awesome idea could be the next project we decide to work on!

          Join come to our next meetup and tell us all about it.
        </p>
				<p class="spacer">&nbsp;</p>
			</div>
    </div>
    <div class="col-3">
      <!-- React div -->
      <div id="root"></div>
			<script type="text/javascript" src="/js/meetup.bundle.js"></script>
		</div>
	</div>
</div>


<% include ./partials/footer %>
