<% include ./partials/header %>


<div class="body-container">
	<h1>Welcome to CodeClub!</h1>
	<p>&nbsp;</p>
	<p>Hello World!</p>
	<p>&nbsp;</p>

<p id="chat">Free</p>

</div>


<% include ./partials/footer %>
