<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="col-9">
			<div class="body-container">
				<h3>Current Progress</h3>
				<br>
				<p>As of September 2017, we have made significant progress in developing our
					<a href="www.codeclub.social" target="_blank">website</a> -- although, we
					still have a lot more work to complete. Once the website has been mostly
					completed we will be moving on to other projects.</p>

				<p>New members and contributors are joining us all the time. Please visit at
					<a href="www.codeclub.social" target="_blank">www.codeclub.social</a> and
					sign up or reach out to us via the contacts page. We look forward to hearing
					from you!</p>
				<p>For more information about CodeClub, please see our <a href="/about">About</a> page.</p>

				<p>&nbsp;</p>

			</div>
    </div>
    <div class="col-3">
      <div id="root"></div>
			<script type="text/javascript" src="/js/meetup.bundle.js"></script>
		</div>
	</div>
</div>

<!-- React div -->



<% include ./partials/footer %>
