
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CodeClub</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<body>

	<header>
		<h2><a href="#">CodeClub</a></h2>
		<nav>
			<li><a href="/forum">Forum</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Login</a></li>
			<li><a href="">Sign Up</a></li>
		</nav>
	</header>


	<section class="hero">
		<div class="background-image" style="background-image: url(/imgs/hero.jpg);"></div>
		<h1>CodeClub</h1>
		<h3>Learn to code, make friends, build cool stuff</h3>
		<a href="#" class="btn">Join the Club</a>
	</section>


<section class="our-work">
		<h3 class="title">Where We Meet</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1574.758297342437!2d-122.26895770288027!3d37.871599904202455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857e9e60317c95%3A0xcfd5ee224fa07e15!2s85C+Bakery+Cafe+-+Berkeley!5e0!3m2!1sen!2sus!4v1503138976672" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

	<section class="contact">
		<h3 class="title">Subscribe</h3>
		<p>To receive updates about CodeClub Berkeley send us your email address and we'll keep you posted.</p>
		<hr>

		<form>
			<input type="email" placeholder="Email">
			<a href="#" class="btn">Subscribe now</a>
		</form>
	</section>

	<footer>
		<ul>
			<li><a href="#"><i class="fa fa-twitter-square" target="_blank"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook-square" target="_blank"></i></a></li>
			<li><a href="https://github.com/codeclubsocial" target="_blank"><i class="fa fa-github-square"></i></a></li>
		</ul>
		<p>Made by whoever</p>
		<p>the quick brown fox jumps right over the lazy dog</p>
	</footer>

</body>

</html>


<% include ./partials/footer %>
