<html>
<head>
	<title>Code Club | Welcome to the Code Club website!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>

  <div class="jumbotron jumbotron-fluid" id="main">
    <div class="container">
      <h1 class="display-3">Hey, Welcome!</h1>
      <p class="lead">This is the <span id="cc">Code Club</span> website. Want to learn more? <br><span id="cb"><a href="/msgs">Click Here</a></span></p>
    </div>
  </div>

<% include ./partials/footer %>
