
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CodeClub</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="/libs/jquery.js"></script>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

	<header>
		<h2><a href="/" id="landingBrand">CodeClub</a></h2>
		<nav>
      <li><a href="/index" class="landingNav">Home</a></li>
			<li><a href="/forum" class="landingNav">Forum</a></li>
			<li><a href="/about" class="landingNav">About</a></li>
			<li><a href="/contact" class="landingNav">Contact</a></li>
			<li><a href="/login" class="landingNav">Login</a></li>
		</nav>
	</header>

	<section class="hero">
		<div class="background-image" style="background-image: url(/imgs/hero.jpg);"></div>
		<h1>CodeClub</h1>
		<h3>Learn to code, make friends, build cool stuff</h3>
		<a href="/index" class="btn">Join the Club</a>
	</section>

<!-- Image slider should be added here -->


	<section class="contact">
		<h3 class="title">Subscribe</h3>
		<p>To receive updates about CodeClub Berkeley send us your email address and we'll keep you posted.</p>
		<hr>

		<form>
			<input type="email" placeholder="Email">
			<a href="#" class="btn">Subscribe now</a>
		</form>
	</section>








<% include ./partials/footer %>
