<% include ./partials/header %>

<div class="container">
<div class="row">
	<div class="col-sm-6">
		<h1 style="margin: 1.5rem 0">Login</h1>
<!--
		<form style="">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
			<div class="form-group">
				<button type="submit" name="button" class="btn btn-primary">Login</button>
			</div>
		</form>
-->

    <form action="/login" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="email"/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password"/>
      </div>
      <div class="form-group">
        <button type="submit" name="button" class="btn btn-primary">Login</button>
      </div>
    </form>

		<div class="">
			<p>Don't have an account yet? <a href="/signup">Sign Up</a> here.</p>
		</div>
	</div>
</div>
</div>





<% include ./partials/footer %>
