<% include ./partials/header %>
<div class="body-container">
	<h1>Login</h1>
	<p>&nbsp;</p>
	<p>login here</p>
	<hr>
	<p>Don't have an account? <a href="/signup">Sign up</a></p>
	<p>&nbsp;</p>
</div>

<% include ./partials/footer-special %>
