<% include ./partials/header %>

<section class="section1">
<div class="container">
	<div class=""><h1>Write New Post</h1></div>
    <form action="/forum" method="POST">
        <div class="form-group">
            <label class="label">Title</label>
            <input type="text" name="msg[title]" placeholder="Post Title" class="form-control">
        </div>
          <!--div class="form-group">
            <label for="exampleTextarea" class="label">Content</label>
<<<<<<< HEAD
            <textarea class="form-control" name="msg[body]" rows="5" placeholder="Write here..." data-autoresize rows="2"></textarea>
          </div>
=======
            <textarea class="form-control" name="msg[body]" rows="5" placeholder="Write your message here..." data-autoresize rows="2"></textarea>
          </div-->

					<div class="RichTextEditor"></div>
>>>>>>> 44ac795767cb24c67be1a39f1d190143bf820341
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</section>

<script type="text/javascript" src="/jquery/textarea.js"></script>

<% include ./partials/footer %>
