<% include ./partials/header %>
<div class="container" style="padding-bottom: 5em; padding-top: 2em;">
<form>
  <div style="padding-bottom: 1.2em;">
    <input type="text" style="width: 100%; line-height: 2.5em; padding-left: 1.2em;" placeholder=" Title">
  </div>
<div id="trumbowyg-editor" placeholder='"The things you think about determine the quality of your mind.”
― Marcus Aurelius, Meditations'></div>

<button id="editorBtn">Post</button>
</form>

</div>

<% include ./partials/js-scripts/rich-text %>

<script>
  // NOTE: This appears to be a possible solution for posting:
  //       https://stackoverflow.com/questions/4855430/how-can-i-send-a-variable-to-a-form-using-this-javascript-function

  $('#editorBtn').click(function(){
    var editorContent = $('#trumbowyg-editor').trumbowyg('html');
    console.log(editorContent);
  });
/*
  document.getElementById("editorBtn").onclick = function() {submitEditorBtn()};

  function submitEditorBtn() {
    var content = document.getElementById("#trumbowyg-editor").innerText;
    console.log(content);
  };*/
</script>

<% include ./partials/footer %>
