<% include ./partials/header %>

<div id="trumbowyg-editor" placeholder='"The things you think about determine the quality of your mind.”
― Marcus Aurelius, Meditations'></div>

<% include ./partials/js-scripts/main %>
<% include ./partials/js-scripts/rich-text %>

<% include ./partials/footer %>
