<% include ./partials/header %>

<div id="trumbowyg-editor" placeholder='"The things you think about determine the quality of your mind.”
― Marcus Aurelius, Meditations'></div>

<button id="editorBtn">Post</button>

<% include ./partials/js-scripts/rich-text %>

<script>
  //var content = $('#trumbowyg-editor').html();
  //console.log(content);

  document.getElementById("editorBtn").onclick = function() {submitEditorBtn()};

  function submitEditorBtn() {
    var content = document.getElementById("#trumbowyg-editor").innerText;
    console.log(content);
  };
</script>

<% include ./partials/footer %>
