<% include ./partials/header %>

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h1 style="margin: 1.5rem 0">This is the secret page</h1>
    <h2 style="margin: 1.5rem 0">If you see this, you are logged in.</h2>
  </div>
</div>
</div>

<% include ./partials/footer %>
