<% include ./partials/header %>
<div class="body-container">
	<h1>Sign Up</h1>
	<p>&nbsp;</p>
	<div style="width: 25em;">
  	<div class="input-group margin-bottom-sm">
<!--
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
    <input class="form-control" type="text" placeholder="Email address">
-->
  </div>

  <div class="input-group">
<!--
    <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
    <input class="form-control" type="password" placeholder="Password">
-->
  </div>
<% if (message) { %>
    <h2 style="margin: 1.5rem 0"><font color="red"><%= message %></font></h2>
<% } %>

  <div class="input-group">
    <form action="/signup" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username"/>
      </div>
			<div>
				<label>First Name:</label>
				<input type="text" name="first_name"/>
			</div>
			<div>
				<label>Last Name:</label>
				<input type="text" name="last_name"/>
			</div>
      <div>
        <label>Email:</label>
        <input type="text" name="email"/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password"/>
      </div>
			<div>
				<label>Confirm Password:</label>
				<input type="password" name="confirm_password"/>
			</div>
        <div class="form-group">
          <button type="submit" name="button" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>



</div>
</div>
<p>&nbsp;</p>
</div>

<script>
	// need to add some JS here to disable Submit button until password == confirm_password
	// red text near the field should show that the two input fields do not match
</script>

<% include ./partials/footer %>
