<% include ./partials/header %>

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h1 style="margin: 1.5rem 0">An e-mail has been sent to your address.</h1>
    <h2 style="margin: 1.5rem 0">Please click on the enclosed link to verify your sign up.</h2>
  </div>
</div>
</div>

<% include ./partials/footer %>
