.label{
  font-weight: 600;
}

textarea {
     box-sizing: border-box;
     resize: none;
}

 .btn {
   cursor: pointer;
}


.jumbotron{
   background-color: white;
 }

 #map:hover{
 	text-decoration: none;
 	color: #2196F3;
 	position: relative;
 	padding-bottom: 75%; // This is the aspect ratio
 	height: 100%;
 	width: 100%;
 	overflow: hidden;
 }


 #forum-index-body {
   padding: 5px;
   border-color: skyblue;
   border-left-width: 3px;
   border-left-style: solid;
  background-color: azure;
   font-size: 0.90em;
 }

 #forum-index-title {
   font-size: 1.2em;
   font-weight: 500;
 }

 #forum-page-title {
   width: 75%;
   margin: 0 auto;
   padding-top: 20px;
 }

 #forum-page-body {
   width: 75%;
   margin: 0 auto;
   padding-top: 20px;
 }

.section1{
  margin: -5rem 10%;
}

.modal{
  position: fixed;
}

.body-container{
  padding: 15px;
}

#footer-special-container{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.google-maps {
    position: relative;
    padding-bottom: 90%; // (450 ÷ 500 = 0.9 = 90%)
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#editor-container {
  height: 375px;
}

.alert{
    display: none;
}

.bluehover:hover {
  -webkit-box-shadow: 1px 1px 5px 1px rgba(33,150,243,0.3);
  -moz-box-shadow: 1px 1px 5px 1px rgba(33,150,243,0.3);
  box-shadow: 1px 1px 5px 1px rgba(33,150,243,0.6);
  cursor: pointer;
}
