.label{
  font-weight: 600;
}

.section1{
  margin: 2em 15%;
}

.modal{
  position: fixed;
}

.body-container{
  padding: 15px;
}

#footer-special-container{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
