<div class="container" style="padding-bottom: 5em; padding-top: 2em;">
  <form id="editorFormComment" method="POST">
    <div id="trumbowyg-comment-editor" placeholder='Hello, I am a rich text editor that allows you to comment on the post above me. Please be gentle.'></div>

    <!--input type="hidden" id="postEditor" name="msg[body]" value='' /-->

    <button id="comment-editor-btn" class="btn btn-primary">Save</button>
  </form>
</div>

<script src="/modules/trumbowyg/dist/trumbowyg.min.js"></script>
<script src="/modules/trumbowyg/dist/plugins/preformatted/trumbowyg.preformatted.js"></script>
<script src="/modules/trumbowyg/dist/plugins/colors/trumbowyg.colors.js"></script>

<script>
  $('.trumbowyg-box').css('min-height','100px');
  $('#trumbowyg-comment-editor').css('min-height','100px');
  $('#trumbowyg-comment-editor').css('height','100px');
  $('#trumbowyg-comment-editor').trumbowyg({
    removeformatPasted: true,
    btns: [
        ['bold', 'italic', 'underline'],
        ['formatting'],
        ['justifyLeft', 'justifyCenter', 'justifyRight'],
        ['foreColor', 'backColor'],
        ['link'],
        'btnGrp-lists',
        ['insertImage'],
        ['horizontalRule'],
        ['viewHTML'],
        ['removeformat'],
        ['fullscreen']
    ]
  });

  $('#comment-editor-btn').click(function(){
    var titleContent = $('#postTitle').val();
    $('#trumbowyg-comment-editor').trumbowyg('html');
  });
</script>
