<div class="container" style="padding-bottom: 5em; padding-top: 2em;">
  <form action="/rt" method="POST">
    <div style="padding-bottom: 1.2em;">
      <input id="postTitle" name="title" type="text" style="width: 100%; line-height: 2.5em; padding-left: 1.2em;" placeholder=" Title">
    </div>
    <div id="trumbowyg-editor" placeholder='"The things you think about determine the quality of your mind.”
    ― Marcus Aurelius'></div>

    <!--input type="hidden" id="postEditor" name="msg[body]" value='' /-->

    <button id="editorBtn" class="btn btn-primary">Post</button>
  </form>
</div>

<script src="/modules/trumbowyg/dist/trumbowyg.min.js"></script>
<script src="/modules/trumbowyg/dist/plugins/preformatted/trumbowyg.preformatted.js"></script>
<script src="/modules/trumbowyg/dist/plugins/colors/trumbowyg.colors.js"></script>
<!--script src="modules/trumbowyg/dist/plugins/pasteimage/trumbowyg.pasteimage.js"></script-->

<script>
  $('#trumbowyg-editor').trumbowyg({
    removeformatPasted: true,
    btns: [
        ['bold', 'italic', 'underline'],
        //['preformatted'],
        ['formatting'],
        ['justifyLeft', 'justifyCenter', 'justifyRight'],
        ['foreColor', 'backColor'],
        ['link'],
        'btnGrp-lists',
        ['insertImage'],
        ['horizontalRule'],
        ['viewHTML'],
        ['removeformat'],
        ['fullscreen']
    ]
  });
  // trying to add plugin 'preformatted'
</script>

<script>
      /*
      <% if (msg != undefined) {%>
        <%- "console.log('" + msg.body + "');"%>
      <% } %>
      */
    if (typeof msg !== 'undefined') {
      var msg = "<%= msg %>";
      console.log('Defining msg');
    } else {
      console.log('msg NOT undefined');
      console.log(msg);
    }

    if (typeof msg === 'undefined') {
      console.log('msg is undefined')
    } else {
      console.log(msg);
    }

    if(typeof msg.body != undefined) {
      console.log(msg.body);
      $('#postTitle').val(msg.title);
      $('#trumbowyg-editor').trumbowyg('html', msg.body);
    }

    $('#editorBtn').click(function(){
      var titleContent = $('#postTitle').val();
      $('#trumbowyg-editor').trumbowyg('html');
  });
</script>
