<div class="container" style="padding-bottom: 5em; padding-top: 2em;">
  <form id="editorForm" method="POST">
    <div style="padding-bottom: 1.2em;">
      <input id="postTitle" name="title" type="text" style="width: 100%; line-height: 2.5em; padding-left: 1.2em;" placeholder=" Title">
    </div>
    <div id="trumbowyg-editor" placeholder='"The things you think about determine the quality of your mind.”
    ― Marcus Aurelius'></div>

    <!--input type="hidden" id="postEditor" name="msg[body]" value='' /-->

    <button id="editorBtn" class="btn btn-primary">Post</button>
  </form>
</div>

<script src="/modules/trumbowyg/dist/trumbowyg.min.js"></script>
<script src="/modules/trumbowyg/dist/plugins/preformatted/trumbowyg.preformatted.js"></script>
<script src="/modules/trumbowyg/dist/plugins/colors/trumbowyg.colors.js"></script>
<!--script src="modules/trumbowyg/dist/plugins/pasteimage/trumbowyg.pasteimage.js"></script-->

<script>
  $('#trumbowyg-editor').trumbowyg({
    removeformatPasted: true,
    btns: [
        ['bold', 'italic', 'underline'],
        //['preformatted'],
        ['formatting'],
        ['justifyLeft', 'justifyCenter', 'justifyRight'],
        ['foreColor', 'backColor'],
        ['link'],
        'btnGrp-lists',
        ['insertImage'],
        ['horizontalRule'],
        ['viewHTML'],
        ['removeformat'],
        ['fullscreen']
    ]
  });
  // trying to add plugin 'preformatted'
</script>

<script>
    console.log(sessionStorage.referringPage);

    if (sessionStorage.referringPage == 'show') {
      console.log("show = true");
      document.getElementById("editorForm").action = "/forum/<%= msg._id %>?_method=PUT";
    } else {
      console.log("show = false");
      document.getElementById("editorForm").action = "/forum";
    }


  if ( '<%- typeof msg.body %>' == 'string' ) {
    $('#postTitle:text').val("<%= msg.title %>".replace(/&#34;/g, "\"").replace(/&#39;/g, "\'"));
    $('#trumbowyg-editor').trumbowyg('html', '<%- msg.body %>');
  }

  $('#editorBtn').click(function(){
    var titleContent = $('#postTitle').val();
    $('#trumbowyg-editor').trumbowyg('html');
  });
</script>
